# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem

# Logs
*.log

# Model artifacts
mlops_pipeline/src/artifacts/
artifacts/
*.pkl
*.joblib

# Docker
.dockerignore
*.tar

# Data
*.csv
*.parquet

# AWS
aws/

# Cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

