# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

*.log

mlops_pipeline/src/artifacts/
*.pkl

# MLOps artifacts
mlops_pipeline/artifacts/
mlops_pipeline/src/artifacts/

# Monitoring outputs
mlops_pipeline/*monitoring*.csv

# Python cache
__pycache__/
*.pyc

# OS
Thumbs.db
