# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================
.env
*.pem

# =========================
# Logs
# =========================
*.log

# =========================
# Artifacts (generated)
# =========================
artifacts/
mlops_pipeline/src/artifacts/
*.pkl
*.joblib

# =========================
# Data to ignore
# =========================
Base_de_datos.csv
*_temp.csv
*_backup.csv

# =========================
# Docker
# =========================
*.tar

# =========================
# Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# IDE
# =========================
.vscode/
.idea/